.x-taginput-tag-widget {

    font: 13px/1.231 arial,helvetica,clean,sans-serif;
    list-style-type: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
    border: 1px solid #C6C6C6;
    padding: 1px 5px;
    display: block;
    margin: 1px;
    height: 30px;
}

.x-taginput-tag-widget:after {
    content: " ";
    display:block;
    clear: both;
}

.x-taginput-tag-widget .x-taginput-tag-item,
.x-taginput-tag-widget .x-taginput-tag-item-input {
    display: inline-block;
    position: relative;
    margin: 0 1px 0 0;
    padding: 0;
}

.x-taginput-tag-widget .x-taginput-tag-item-input input {
    margin: 2px 0px 2px 0px;
    height: 20px;
}

.x-taginput-tag-widget .x-taginput-tag-item {
    margin: 2px 0px 2px 0px;
    padding: 0.2em 18px 0.2em 0.5em;
}

.x-taginput-tag-widget .x-taginput-tag-item.x-taginput-tag-choice {
    background-color: #BBCEF1;
    border-color: #6D95E0;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    border: 1px solid #CAD8F3;
    background: none;
    background-color: #DEE7F8;
    color: #555;
    margin-right: 2px;
}

.x-taginput-tag-widget .x-taginput-tag-item.x-taginput-tag-choice:hover {
    background-color: #BBCEF1;
    border-color: #6D95E0;
}

.x-taginput-tag-widget .x-taginput-tag-label {

}

.x-taginput-tag-widget .x-taginput-tag-icon {
    font-weight: bold;
}

.x-taginput-tag-widget input {
    border: 0;
    outline: none;
}

.x-taginput-tag-widget .x-taginput-tag-close {
    cursor: pointer;
    position: absolute;
    right: 0.4em;
    margin-top: -9px;
    top: 50%;
}